html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: repeating-linear-gradient( -45deg, #075, #075 20px, #064 20px, #064 40px );
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.page {
    display: none;
    margin: auto;
}

.init #init.page {
    display: block;
}

.type #type.page {
    display: block;
}

.join #join.page {
    display: block;
}

.game #game.page {
    display: block;
}

.page.basic {
    width: 300px;
    padding-top: 200px;
    text-align: center;
}

button, input {
    background-color: #88aa8866;
    color: #fff;
    outline: none;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 5px #3338;
    border: none;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    transition: all .5s;
}

button {
    cursor: pointer;
}

button:hover, button:focus, input:focus {
    background-color: #88bb7788;
    box-shadow: 4px 4px 10px #3338;
}

button.main, input.main {
    font-size: 40px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    z-index: -1;
}

#board {
    width: 100%;
    height: auto;
    overflow: visible;
}

.box {
    background-color: #88aa8866;
    color: #fff;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 5px #3338;
    border: none;
    padding: 10px;
    text-align: center;
}

#connect-box {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -170px;
    top: 150px;
    padding: 20px;
    width: 340px;
}

#connect-box .box-label {
    margin: 10px 0px 20px;
    font-size: 24px;
}

#spin-view-box {
    display: inline-block;
    height: calc(100vh - 50vw);
    width: calc(100vh - 50vw);
    transition: all .5s;
}

#spin-view-box.focus {
    transform: scale(5) translate(50%, -50%);
    backdrop-filter: blur(1px);
}

#spin-view {
    width: 100%;
    height: 100%;
}

#game-id {
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: calc(100vh - 50vw);
    padding: 0px 30px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 5px #444;
}

#score {
    display: inline-block;
    vertical-align: top;
    line-height: calc(100vh - 50vw);
    padding: 0px 30px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 5px #444;
}

#score div {
    display: inline-block;
    padding: 0px 40px;
    margin: 0px 5px;
}

#score .score.active {
    background-color: #ccffcc66;
}

#score .score.active.remote {
    animation: pulse 2s infinite
}

#score .score.local {
    height: calc(100vh - 50vw - 5px);
    border-bottom: solid 5px #ff0;
}

#score .break {
    position: relative;
    font-weight: normal;
    margin-left: 50px;
    color: #cfc;
}

#score .break:before {
    position: absolute;
    content: 'BREAK';
    top: 5px;
    left: 0px;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

#alert {
    opacity: 0;
    position: absolute;
    top: 12.5vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 48px;
    padding: 25px;
    transition: opacity .5s;
    font-weight: bold;
}

#alert.show {
    opacity: 1;
}

@keyframes pulse {
    0% {
        background-color: #ccffcc66;
    }
    25% {
        background-color: #ccffcc00;
    }
    100% {
        background-color: #ccffcc66;
    }
}